/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

    CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 10;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------
                    Custom Styles
------------------------------------------------------------------- */

h1{
	font-size: 60px;
	font-weight: bold;
	color: white;
}


h2{
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
		max-width: 1200px;
		margin: 0 auto;
		padding: 1em;
	}

	/* ---------- NAVIGATION ---------- */

nav ul {
    display: block;
	background-color: #222;
	color: #c78c06;
	padding: 1em;
}

nav ul li  {
    display: block;
	background-color: #222;
	color: #c78c06;
	padding: 1em;
}

	/* ---------- WELCOME SECTION ---------- */

.welcome img{
	max-width: 1200px;
}

.welcome{
	background-color: rgba(0, 0, 0, 0.7); 
	padding: 1em;
	color: white;
}

.welcome .btn{
	padding: 3em;
	color: #222;
	background-color: #c78c06;
}

	/* ---------- ABOUT SECTION ---------- */

.about{
	padding: 1em;
	background-color: #ffe6ac;
}

.about img{
	max-width: inherit;
	padding-bottom: 3em;
}

 .about p {
	 padding-top: 1em;
 }

 	/* ---------- SERVICES SECTION ---------- */


	 .services h3{
		font-size: 40px;
		font-weight: bold;
		padding-bottom: 10px;
	 }

	 .services div{
		 background-color: #ffe6ac;
		 margin: 1em;
	 }

	.services .btn{
		padding: 2em;
		color: white;
		background-color: #222;
	}

	/* ---------- OUR TEAM SECTION ---------- */

	 .team div{
		padding: 1em;
		margin: 1em;
		background-color: #ffe6ac;
	 }

	/* ---------- FOOTER ---------- */

footer{
	background-color: #222;
	color: #c78c06;
	padding-top: 1em;
}

footer p{
	padding: 1em;
}