/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

    CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 10;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
	line-height: 1.5em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------
                    Custom Styles
------------------------------------------------------------------- */

h1 {
	font-size: 6em;
	font-weight: bold;
	color: white;
	line-height: 1.5em;
}

h2 {
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em;
}

/* ---------- NAVIGATION ---------- */

nav ul {
	display: block;
	background-color: #222;
	color: #c78c06;
	padding: 1em;
}

nav ul li {
	display: block;
	background-color: #222;
	color: #c78c06;
	padding: 1em;
}

/* ---------- WELCOME SECTION ---------- */

 .welcome img {
	max-width: 100%;
	position: relative;
	z-index: -1;
	display: inline-block;
} 

.welcometext {
	position: relative;
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 3em 1em 3em;
}

.welcome p{
	margin-bottom: 3em;
}
.welcome a {
	padding: 2em;
	color: #222;
	background-color: #c78c06;
	text-decoration: none;
}

/* ---------- ABOUT SECTION ---------- */

.about {
	padding: 1em;
	background-color: #ffe6ac;
}

.about img {
	min-width: 100%;
	padding-bottom: 1em;
}

.about p {
	padding-top: 1em;
}

/* ---------- SERVICES SECTION ---------- */


.services h3 {
	font-size: 3em;
	font-weight: bold;
	padding-bottom: 1px;
	margin: 0.5em 0.5em 0.15em;
}

.services div {
	background-color: #ffe6ac;
	margin-bottom: 1em;
	padding-bottom: 3em;
}

.services .btn {
	margin: 1em;
	padding: 2em;
	color: white;
	background-color: #222;
}

.services img {
	min-width: 100%;
}

.services p {
	padding: 1em 1em 3em;
}

/* ---------- OUR TEAM SECTION ---------- */

.john {
	padding: 1em;
	margin-bottom: 1em;
	background-color: #ffe6ac;
}

.bob {
	padding: 1em;
	margin-bottom: 1em;
	background-color: #ffe6ac;
}

.team h3 {
	font-size: 3em;
	font-weight: bold;
	padding-bottom: 10px;
}

.team h4 {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 3px solid #c78c06;
	margin-bottom: 1em;
}

.team div {
	background-color: #ffe6ac;
}

.team p {
	margin-bottom: 1em;
}

.team img {
	min-width: 100%;
}

/* ---------- CONTACT ---------- */

.contact input {
	display: block;
	min-width: 100%;
	margin: 1em 0 1em;
}

.contact textarea {
	display: block;
	min-width: 100%;
	margin-top: 1em;
}

.contact h3{
	font-weight: bold;
	font-size: 2em;
}

.contact button{
	margin: 1em 0 1em;
	background-color: #222;
	color: #c78c06;
	padding: 0.25em;
}

/* ---------- HOURS AND MAP ---------- */

.hours table {
	border: 1px solid black;
}

.location iframe {
	max-width: 100%;
}

/* ---------- FOOTER ---------- */

footer {
	background-color: #222;
	color: #c78c06;
	padding-top: 1em;
}

footer p {
	padding: 1em;
}



@media screen and (min-width: 800px) {}